/* 
1. css property
2. psudeo property
3. clear 
 */

i {
    font-size: 5rem;
}
ul{
    list-style: none;
    padding: 0;
}
ul li{
    display: inline-block;
    float: left;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 10px;
    margin: 0;
    background-color: green;
    color: #fff;
    transition-duration: 0.5s;
    display: block;
}
ul li a:hover{
    background: red;
}