/* 
1. css property
2. psudeo property
3. clear 
 */

img{
    width: 200px;
    height:200px;
    float: left;
}
p{
    height: 500px;
    width: 500px;
    font-size: 25px;
    float: left;
}
.p2{
    clear: left;
}