*{
    margin: 0;
    padding: 0;
}
.box1{
    width:200px;
    height:200px;
    background:#ff0000;
}
.box2{
    width:200px;
    height:200px;
    background-color: blue;
}
h1{
    display: inline-block;
}
h2{
display: inline-block;
}